
process {
   withName:legsta{
       container = 'docker://staphb/ispcr'
       
   }

   withName:legsta{
       container = 'docker://staphb/any2fasta'
   }

   withName:legsta{
       container = 'docker://staphb/legsta'
  }

   withName:kraken_subs{
       container = 'docker://staphb/kraken2:2.0.8-beta'
   }

   withName:elgato4mlst{
       container = 'docker://staphb/elgato'
   }

   withName:proc_mash{
       container = 'docker://staphb/mash'
   }

   withName:prokka{
       container = 'docker://staphb/prokka'
   }

   withName:ksnp4{
       container = 'docker://staphb/ksnp4'
   }


}


//singularity.enabled = true

apptainer {
    enabled = true
}
//singularity.autoMounts = true

apptainer.autoMounts = true

//includeConfig 'config_template.config' // another name for the nexflow.config

//centralized cache directory
apptainer {
        cacheDir = "./"
    }
   
// Manifest details
manifest {
    name = 'LegCabbage'
    description = 'A BPHL-Florida bioinformatics pipeline to analyze Legionella samples'
    author = 'Tassy J. Bazile'
    version = '1.0.0'
}